---
import { oneIDInvite } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import { getInvites } from "../../../backend/backend.mjs";
import Cardinvite from "../../components/Card.astro";
import ImagePB from "../../components/ImagePB.astro";

/*Affichage du détail d’un élément de la collection en utilisant une route dynamique.    Affichage d'un invité */

const { id } = Astro.params;
const invite = await oneIDInvite(id);
if (!invite) {
    return Astro.redirect("/programme");
}

/* Affichage de l'invités dans le film */

// const invite = await getInvites(id);
// if (!invite) {
//     return Astro.redirect('/programme');}
---

<Layout titre={invite.Prenom}>
    <div>
        <ul class="p-8 p-4 border-2 border-gray-300 rounded-lg shadow-md">
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Nom Prénom</strong></p>
                <span>{invite.Nom}</span>
                <span>{invite.Prenom}</span>
            </li>

            <ImagePB
                record={invite}
                field="Photo"
                alt={invite.imgAlt}
                classPicture="flex "
                classImg="w-50  m-10 rounded-lg"
            />
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Biographie :</strong></p>
                <span>{invite.Biographie}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Rôle dans le festival :</strong></p>
                <span class="pl-19">{invite.Role}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4">
                    <strong
                        >Liste des activités associées durant le festival.</strong
                    >
                </p>
                <span class="pl-19"
                    >{invite.expand?.Activites.Type}
                    <span>{invite.expand?.Activites.Description}</span>
                </span>
            </li>
        </ul>
    </div>
</Layout>
