---
import { filterByRole, sortedinvite } from "../../../backend/backend.mjs";
import Cardinvite from "../../components/Cardinvite.astro";
import Layout from "../../layouts/Layout.astro";
const invite = Astro.props;
import Picture from "astro/components/Picture.astro";
import { addinvite } from '../../../backend/backend.mjs';
import Button from "../../components/Button.astro";
import ImagePB from "../../components/ImagePB.astro";
import { Image } from "astro:assets";
import affichefilmloveanimal from "../../assets/img/affichefilmloveanimal.avif";
import affichefilmanimalprotection from "../../assets/img/affichefilmanimalprotection.avif";






/*Filtrage d’une liste via une route dynamique permettant d’afficher uniquement les éléments correspondants, comme par exemple l’affichage des films par catégorie ou par langue.*/

let message = "";
let invites = [];

if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    const role = data.get("genre") as string;

    if (role) {
        invites = await filterByRole(role);

        if (invites.length === 0) {
            message = `Aucun invités trouvé pour le rôle "${role}".`;
        } else {
            message = `Liste des invités pour le rôle "${role}"`;
        }
    } else {
        message = "Veuillez sélectionner un rôle.";
    }
} else {
    invites = await sortedinvite();
    message = "Liste des invités pour tous les rôles";
}
---

<Layout>
    <div>
        <h2 class="text-center p-5"> <strong>Invités du festival Miaullywood – 27 au 29 juin</strong></h2>
        <p class="ml-5 text-center m-8">Rencontrez nos invités d’exception : réalisateurs passionnés, acteurs talentueux et créateurs inspirants. Ils partageront avec vous leurs expériences, leurs œuvres et leur vision du cinéma. Un moment d’échange unique au cœur de notre festival, où passion et créativité prennent vie !</p>
       

    <!-- //Création des formulaires pour saisir et modifier des données. -->

    <h2 class="text-lg m-8 text-center" ><strong>Ajouter des idées d'invité </strong> </h2>
    {message && <p class="text-red-600">{}</p>}
    <form action="/invite/add" method="POST" enctype="multipart/form-data">
        <input
            type="text"
            name="Nom"
            placeholder="Nom de l'invité"
            required
            class=" mt-2 p-2 border border-gray-300 rounded-md"
        />
      <input
      type="text"
      name="Prénom"
      placeholder ="Prénom de l'invité"
      required
        class=" mt-2 p-2 border border-gray-300 rounded-md"
      
      />
      <input 
      type="text"
      name="Biographie"
      placeholder="Biographie de l'invité"
        class=" mt-2 p-2 border border-gray-300 rounded-md"
      />
     
      
        <input type="file" name="images" />
    
        <button class=" m-8 p-3 border-2 border-gray-300 rounded-lg bg-white shadow-md" type="submit">Ajouter</button>
    </form>  

    <!-- Filtre par rôle -->

    <form method="POST">
     

        <select class="m-15" name="role" id="role">
            <option value="">Sélectionnez un rôle</option>
            <option value="Réalisateur">Réalisateur</option>
            <option value="Acteur">Acteur</option>
        </select
        >
        <input class=" p-2 border-2 border-gray-300 rounded-lg bg-white shadow-md" type="submit" value="Filtrer par rôle" />
    </form>

    <!-- Affichage d’une liste de collection -->

    <div class="flex justify-center list-none flex-wrap gap-5 pt- 15 pb-40">
      
      <h2 class="m-8">Tous les invités</h2> 
        {invites.map((invite) => <Cardinvite {...invite} />)}
    </div>




    <!-- /*programme non dynamique*/ -->

<!--   
       
   <h2 class="text-center p-5">Programme détaillé</h2>
   <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5"> <strong>Jour 1 : Jeudi 27 juin Matin</strong></h2>
        <p class="text-center p-5">10h00 – 12h00 : Atelier "Réalise ton court-métrage" Atelier créatif pour jeunes réalisateurs où ils apprendront les bases de la réalisation de films avec des professionnels du cinéma.</p>
        <p class="text-center p-5"><strong>Public :</strong> À partir de 14 ans</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Salle Créative</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Après-midi</h2>
        <p class="text-center p-5">14h00 – 16h00 : Séance familiale "Les Chats du Cinéma" Projection d’un documentaire sur les chats au cinéma, suivi d’une discussion animée avec un expert en cinéma animalier.</p>
        <p class="text-center p-5"><strong>Genre :</strong> Familial</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Grand Cinéma</p>
        <p class="text-center p-5">16h30 – 17h30 : Atelier "Dessine ton chat de cinéma" Atelier pour les enfants où ils pourront dessiner leur propre chat inspiré par les films vus.</p>
        <p class="text-center p-5"><strong>Public :</strong> Enfants 5-10 ans</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Espace Enfants</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Soirée</h2>
        <p class="text-center p-5">20h00 – 22h00 : Soirée d'ouverture - Projection des courts-métrages des jeunes réalisateurs</p>
        <p class="text-center p-5"><strong>Sélection spéciale des meilleurs courts-métrages réalisés par de jeunes talents, suivie d'une discussion avec les réalisateurs.</strong></p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Grand Cinéma</p>

        <ImagePB
        record={film}
        field="Affiche"
        alt={film.imgAlt}
        classPicture="flex justify-center block mx-auto"
        classImg="w-50 m-10 rounded-lg"
    />
       
    
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5"><strong>Jour 2 : Vendredi 28 juin Matin</strong></h2>
        <p class="text-center p-5">9h00 – 10h00 : Yoga relaxant "Chat-Pose" Une séance de yoga inspirée des mouvements félins pour bien démarrer la journée.</p>
        <p class="text-center p-5"><strong>Public :</strong> Adultes</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Salle détente</p>
        <p class="text-center p-5">11h00 – 12h00 : Atelier yoga parents-enfants Un moment de relaxation partagé en famille, dans une atmosphère conviviale.</p>
        <p class="text-center p-5"><strong>Public :</strong> Parents et enfants</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Salle Détente</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Après-midi</h2>
        <p class="text-center p-5">14h30 – 16h00 : Film d'animation pour enfants "Les Aventures d'un Chat Sauvage" Un film d’animation drôle et touchant, parfait pour les plus jeunes spectateurs.</p>
        <p class="text-center p-5"><strong>Genre :</strong> Film d'animation</p>
        <p class="text-center p-5"><strong>Public :</strong> Enfants 6-12 ans</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Petit Cinéma</p>
        <p class="text-center p-5">16h30 – 18h00 : Conférence-débat "Le rôle du cinéma dans la sensibilisation à la cause animale" Des intervenants du cinéma et des défenseurs des animaux discuteront de la façon dont le cinéma peut sensibiliser aux enjeux de la cause animale.</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Salle Conférence</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Soirée</h2>
        <p class="text-center p-5">19h00 – 21h00 : Projection du film engagé "La Cause Animale à l'Écran" Suivi d'un échange avec des militants et des professionnels du cinéma animalier.</p>
        <p class="text-center p-5"><strong>Genre :</strong> Documentaire engagé</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Grand Cinéma</p>

        <Image
        src={affichefilmloveanimal}
        alt="Image d'un chat et du cinéma "
        class="w-90 m-10 rounded-lg justify-center items-center block mx-auto"
        loading="lazy"
    />
    

    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5"> <strong>Jour 3 : Samedi 29 juin Matin</strong></h2>
        <p class="text-center p-5">9h00 – 10h00 : Séance de yoga "Chat-Pose" (session adulte) Une autre session relaxante pour démarrer la journée avec énergie.</p>
        <p class="text-center p-5"><strong>Public :</strong> Adultes</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Salle Détente</p>
        <p class="text-center p-5">10h30 – 11h30 : Atelier créatif "Dessine ton chat de cinéma" (session enfants) Atelier pour les enfants avec des animateurs pour les guider à créer leur propre chat héros.</p>
        <p class="text-center p-5"><strong>Public :</strong> Enfants 5-10 ans</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Espace Enfants</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Après-midi</h2>
        <p class="text-center p-5">14h00 – 16h00 : Festival de courts-métrages Projection des finalistes du concours de courts-métrages réalisés par de jeunes talents, suivie d’une remise des prix.</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Grand Cinéma</p>
        <p class="text-center p-5">16h30 – 17h30 : Atelier interactif "Sensibilisation à la cause animale" Activité éducative et ludique sur la protection des animaux, spécialement pour les familles.</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Espace Ateliers</p>
    </div>
    <hr class="py-2 bg-[var(--color-bordeau)]" />
    <div>
        <h2 class="text-center p-5">Soirée</h2>
        <p class="text-center p-5">20h00 – 22h00 : Soirée de clôture - Projection spéciale "Cinéma et Protection des Animaux" Une soirée dédiée aux films engagés pour la protection des animaux, suivie d'un débat avec des cinéastes.</p>
        <p class="text-center p-5"><strong>Rencontre spéciale avec le réalisateur Alexis Varnier.</strong></p>
        <p class="text-center p-5"><strong>Genre :</strong> Documentaire</p>
        <p class="text-center p-5"><strong>Public :</strong> Tous âges</p>
        <p class="text-center p-5"><strong>Lieu :</strong> Grand Cinéma</p>



        <Image
        src={affichefilmanimalprotection}
        alt="Affiche du film Animal Protection"
        class="w-90 m-10 rounded-lg block mx-auto"
        loading="lazy"
    />




        <div class="flex justify-center p-2">
            <Button  aria-label="Télécharger le programme" text="Télécharger le programme" />
        </div>
      
      
    </div>
     -->
</Layout>

