---
import { oneIDFilm } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import { getInvites } from "../../../backend/backend.mjs";
import Card from "../../components/Card.astro";
import ImagePB from "../../components/ImagePB.astro";

/*Affichage du détail d’un élément de la collection en utilisant une route dynamique.    Affichage d'un film */

const { id } = Astro.params;
const film = await oneIDFilm(id);
if (!film) {
    return Astro.redirect("/programme");
}
console.log(film);

/* Affichage de l'invités dans le film */

// const invite = await getInvites(id);
// if (!invite) {
//     return Astro.redirect('/programme');}
---

<Layout titre={film.Titre}>
    <div>
        <ul class="p-8 p-4 border-2 border-gray-300 rounded-lg shadow-md">
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Synopsis :</strong></p>
                <span>{film.Description}</span>
            </li>
            <ImagePB
                record={film}
                field="Affiche"
                alt={film.imgAlt}
                classPicture="flex "
                classImg="w-50 m-10 rounded-lg"
            />
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Bande annonce :</strong></p>
                <span class="pl-19">{film.Bande_annonce}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Durée :</strong></p>
                <span class="pl-19">{film.Duree}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Langue :</strong></p>
                <span class="pl-19">{film.Langue}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Pays de production :</strong></p>
                <span class="pl-19">{film.Production}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Invités :</strong></p>
                <span class="pl-19"
                    >{film.expand?.Invites.Prenom}
                    <span>{film.expand?.Invites.Nom}</span>
                </span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Genre :</strong></p><span class="pl-19"
                    >{film.Genre}</span
                >
            </li>
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Liste des acteurs :</strong></p><span
                    class="pl-19">{film.Liste_des_acteurs}</span
                >
            </li>
        </ul>
    </div>
</Layout>
