---
import { oneIDActivite } from "../../../backend/backend.mjs";
import Layout from "../../layouts/Layout.astro";
import { getInvites } from "../../../backend/backend.mjs";
import Cardactivite from "../../components/Cardactivite.astro";
import ImagePB from "../../components/ImagePB.astro";

/*Affichage du détail d’un élément de la collection en utilisant une route dynamique.    Affichage d'un film */

const { id } = Astro.params;
const activite = await oneIDActivite(id);
if (!activite) {
    return Astro.redirect("/activite");
}

/* Affichage de l'invités dans le film */

// const invite = await getInvites(id);
// if (!invite) {
//     return Astro.redirect('/programme');}
---

<Layout titre={activite.Type}>
    <div>
        <ul class="p-8 p-4 border-2 border-gray-300 rounded-lg shadow-md">
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Description :</strong></p>
                <span>{activite.Description}</span>
            </li>

            <ImagePB
                record={activite}
                field="Photo"
                alt={activite.imgAlt}
                classPicture="flex"
                classImg="w-50 m-10 rounded-lg"
            />

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Lieu :</strong></p>
                <span class="ml-19">{activite.Lieu}</span>
            </li>

            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Date :</strong></p>
                <span class="ml-19">{activite.Date_activite}</span>
            </li>
            <li class="p-4 bg-[var(--color-sable)]">
                <p class="p-4"><strong>Invités :</strong></p>
                <span class="pl-19"
                    >{activite.expand?.Invites.Prenom}
                    <span>{activite.expand?.Invites.Nom}</span>
                </span>
            </li>

            <!-- <p>Invités : </p>  <li>  {film.Invites}</li> -->
            <!-- {invite.expand?.Films_via_Invites.map((i) => <Card {...i}/>)} 

      
            </li>-->
        </ul>
    </div>
</Layout>
