---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Carrousel from "../components/Carrousel.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import imageyoga from "../assets/img/imageyoga.avif";
import imgcinemapontarlier from "../assets/img/imgcinemapontarlier.avif";
import imagechataccueil from "../assets/img/imagechataccueil.avif";
import { sortedfilms, sortedinvite } from "../../backend/backend.mjs";
import Carrouselinvite from "../components/Carrouselinvite.astro";

const films = await sortedfilms();
const filmsi = await sortedinvite();
---

<Layout>
	<body>
		<h2 class="text-center p-5">
			<strong
				>Bienvenue sur le site du festival Miaullywood : Quand le cinéma
				et les chats se rencontrent !</strong
			>
		</h2>

		<Image
			src={imagechataccueil}
			alt="Image d'un chat et du cinéma "
			class="w-90 m-10 rounded-lg block mx-auto"
			loading="lazy"
		/>

		<h2 class="text-center p-2 mb-5">
			<strong>Du 27 au 29 juin 2025</strong>
		</h2>

		<div>
			<hr class="py-2 bg-[var(--color-bleu)]" />
			<h2 class="ml-5 mb-2 lg:items-center text-center">
				<strong>Au programme :</strong>
			</h2>
			<ul class="p-3 text-center m-8" role="list">
				<li class="ml-5 pb-4">
					- Présentations de films de réalisateurs émergents
				</li>
				<li class="ml-5 pb-4">
					- Stands tenus par des associations de protection animale
				</li>
				<li class="ml-5 pb-4">
					- Ateliers créatifs pour petits et grands
				</li>
				<li class="ml-5 pb-4">- Séances de yoga de relaxation</li>
			</ul>
			<div class="flex justify-center">
				<Button href="/film" text="Programme" />
			</div>
		</div>
		<div>
			<Image
				src={imageyoga}
				alt="Image d'un chat et du cinéma "
				class="w-90 m-10 rounded-lg block mx-auto"
				loading="lazy"
			/>
			<p class="ml-5 mb-5 text-center">
				Participez à des ateliers interactifs, des discussions autour du
				cinéma, et des animations surprises pour petits et grands !
			</p>
			<hr class="py-2 bg-[var(--color-bleu)]" />

			<Carrousel filmc={films} />

			<hr class="py-2 bg-[var(--color-bleu)]" />
			<div>
				<h2 class="ml-5 mb-2 lg:items-center text-center m-9">
					<strong>Billeterie :</strong>
				</h2>
				<ul>
					<li
						class="ml-5 pb-4 justify-center text-center lg:justify-center lg:items-center"
					>
						Pass journée 10€<br />
					</li>

					<li
						class="ml-5 pb-4 lg:justify-center lg:items-center text-center"
					>
						Pass 3 jours 25€
					</li>
				</ul>

				<div class="flex justify-center m-2">
					<Button href="/info" text="Prendre mes tickets " />
				</div>
			</div>
			<hr />
			<div>
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center text-center m-9">
					<strong>Nos invités</strong>
				</h2>
				<Carrouselinvite filmi={filmsi} />

				<div class="flex justify-center m-2">
					<Button href="/invite" text="Tous nos invités  " />
				</div>
			</div>
			<hr />
			<div>
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center text-center m-9">
					<strong>Infos pratiques</strong>
				</h2>
				<p class="text-center mb-2 lg:items-center m-8">Où ?</p>
				<p class="ml-5 mb-2 lg:items-center text-center m-8">
					Pontarlier Le lieu exact du festival le cinéma Olympia
				</p>

				<Image
					src={imgcinemapontarlier}
					alt="Photo cinéma Pontarlier "
					class="w-90 m-10 rounded-lg block mx-auto"
					loading="lazy"
				/>

				<div class="flex justify-center m-2">
					<Button
						href="/info"
						text="Voir la page infos pratiques  "
					/>
				</div>
			</div>
			<hr />
			<div>
				<hr class="py-2 bg-[var(--color-bleu)]" />
				<h2 class="ml-5 mb-2 lg:items-center text-center m-8 mb-3">
					<strong>Nos partenaires</strong>
				</h2>

				<ul
					class="text-center p-9"
					role="list"
					aria-label="Partenaires du festival"
				>
					<li class="m-3">Office de Tourisme du Doubs</li>
					<li class="m-3">Ville de Besançon</li>
					<li class="m-3">Association Chats sans Toit</li>
					<li class="m-3">Association SPA de Montbéliard</li>
					<li class="m-3">La Brasserie du Chat Noir</li>
					<li class="m-3">Zooplus</li>
					<li class="m-3">Chocolaterie des Montagnes</li>
					<li class="m-3">Les Amis du Cinéma</li>
					<li class="m-3">Shellac</li>
					<li class="p-1">Cinécapsule</li>
				</ul>
			</div>
		</div>
	</body>
</Layout>
