---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import imgcinemapontarlier from "../assets/img/imgcinemapontarlier.avif";
import imgrideaucinema from "../assets/img/imgrideaucinema.avif";
import imagedansunparc from "../assets/img/imagedansunparc.avif";
import imghotel from "../assets/img/imghotel.avif";
import imagehotelkyriad from "../assets/img/imagehotelkyriad.avif";
---

<Layout>
    <main>
        <div>
            <h2 class="text-left p-5"> <strong>Où ?</strong></h2>
            <p class="ml-5">
                Pontarlier <br />
                Le lieu exact du festival le cinéma Olympia
            </p>

            <Image
                src={imgcinemapontarlier}
                alt="Image du cinéma de Pontarlier"
                class="w-90 m-10 rounded-lg block mx-auto"
                loading="lazy"
            />
            <Image
                src={imgrideaucinema}
                alt="Image d'un cinéma avec des rideaux fermé"
                class="w-90 m-10 rounded-lg block mx-auto"
                loading="lazy"
            />
            <h2 class="text-left p-5 "> <strong>Localisation exacte</strong></h2>
            <div class="flex justify-center  rounded-lg">
       
                <iframe
                 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2681.9972532734655!2d6.352444876656259!3d46.902958771107235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d67d123456789%3A0x123456789abcdef!2sPontarlier!5e0!3m2!1sfr!2sfr!4v1700000000000"
                    width="500"
                    height="350"
                 
                    
                    loading="lazy"
                    referrerPolicy="no-referrer-when-downgrade"
                ></iframe>
            </div>



            <h2 class="text-left p-5"> <strong>Quand ?</strong></h2>
            <p class="ml-5">Du 27 au 29 juin 2025</p>
            <h2 class="text-left p-5"> <strong>Qui ?</strong></h2>
            <p class="ml-5">
                Le festival accueille tout le monde : familles, personnes
                défendant la cause animale, jeunes. Toute personne intéressée
                par le cinéma et amoureuse des chats. Mais aussi des
                associations et des entreprises animalières.
            </p>

            <Image
                src={imagedansunparc}
                alt="Image d'un parc"
                class="w-90 m-10 rounded-lg block mx-auto"
                loading="lazy"
            />
            <h2 class="text-left p-5"> <strong>Pourquoi ?</strong></h2>
            <p class="ml-5">
                Le festival va vous plonger dans un festival de cinéma où
                l'univers des chats se mêle à la magie des films ! Dans une
                ambiance conviviale et pleine de bonne humeur, partagez des
                moments uniques avec d'autres passionnés et profitez d'une
                expérience cinéphile originale et chaleureuse.
            </p>

            <Image
                src={imghotel}
                alt="Image d'un parc"
                class="w-90 m-10 rounded-lg block mx-auto"
                loading="lazy"
            />
        </div>
        <hr class="py-2 bg-[var(--color-bleu)]" />
        <div>
            <h2 class="text-center p-5"> <strong>Billetterie</strong></h2>
            <p class="text-center p-5"><strong>Tarifs individuels :</strong></p>
            <ul class="ml-5 m-5 text-center">
                <li>Pass journée 10€</li>
                <li>Pass 3 jours 25€</li>
            </ul>
            <div class="flex justify-center m_8">
                <Button text="Acheter" />
            </div>
            <p class="text-center p-5">
                <strong>Tarifs réduits (Étudiants) :</strong>
            </p>
            <ul class="ml-5 m-5 text-center">
                <li>Pass journée 7€</li>
                <li>Pass 3 jours 18€</li>
            </ul>
            <div class="flex justify-center m-8">
                <Button text="Acheter" />
            </div>
            <p class="text-center p-5"><strong>Offres spéciales :</strong></p>
            <ul class="ml-5 m-5 text-center">
                <li>Pass famille (2 adultes + 2 enfants) : 25 €</li>
            </ul>
            <div class="flex justify-center m-5 m-8">
                <Button text="Acheter" />
            </div>
        </div>
        <hr class="py-2 bg-[var(--color-bleu)]" />
        <div>
            <div>
                <h2 class="text-center p-5"> <strong>Infos pratiques</strong></h2>
                <p class="text-center p-5">
                    Une fois votre achat effectué, vous recevrez vos billets par
                    email. Imprimez-les ou présentez-les directement sur votre
                    téléphone à l’entrée. Les billets ne sont ni échangeables ni
                    remboursables, sauf en cas d'annulation du festival. Pour
                    toute question, veuillez nous contacter à
                    miaullywood@agglo-pontarlier.fr.
                </p>
            </div>
            <hr class="py-2 bg-[var(--color-bleu)]" />
            <div>
                <h2 class="text-center p-5"> <strong>Hébergement</strong></h2>
                <p class="text-center p-5">
                    Si vous souhaitez passer la nuit pendant le festival, il
                    existe plusieurs hôtels à proximité qui offrent un
                    hébergement confortable à quelques minutes du lieu de
                    l'événement.
                </p>
                <ul class="ml-5 m-5 justify-center text-center">
                    <li>Kyriad Pontarlier</li>
                    <li>ibis Pontarlier</li>
                    <li>Campanile Pontarlier</li>
                    <li>HotelF1 Pontarlier</li>

                </ul>
                <p class="text-center p-5"><strong>Camping : </strong></p>
                <ul class="ml-5 m-5 justify-center text-center">
                    <li>Camping de la Source du Doubs</li>
                    <li>Camping du Lac Saint-Point </li>
                    <li>Camping Le Miroir </li>
                </ul>

                <Image
                    src={imagehotelkyriad}
                    alt="Image d'un parc"
                    class="w-90 m-10 rounded-lg block mx-auto"
                    loading="lazy"
                />
            </div>
            <hr class="py-2 bg-[var(--color-bleu)]" />
            <div>
                <h2 class="text-center p-5"> <strong>FAQ</strong></h2>
                <p class="text-center p-5">
                    <strong>Puis-je acheter des billets sur place ?</strong>
                </p>
                <p class="text-center p-5">
                    Oui, les billets seront disponibles à l'entrée du festival,
                    dans la limite des places disponibles.
                </p>
                <p class="text-center p-5">
                    <strong>Les enfants doivent-ils payer un billet ?</strong>
                </p>
                <p class="text-center p-5">
                    Oui, les enfants de plus de 12 ans doivent acheter un
                    billet. Les enfants de moins de 12 ans bénéficient d'un
                    tarif réduit.
                </p>
            </div>
            <hr class="py-2 bg-[var(--color-bleu)]" />
            <div>
                <h2 class="text-center p-5"> <strong>Transport</strong></h2>
                <p class="text-center p-5">
                    Pour accéder facilement au festival, plusieurs options de
                    transport sont disponibles :
                </p>
                <ul class="ml-5 p-5">
                    <li class="m-5">
                        <strong>En train :</strong> Pontarlier est bien desservi
                        par la gare SNCF, avec des liaisons régulières depuis des
                        grandes villes comme Besançon et Lausanne. Des navettes ou
                        taxis sont également disponibles pour rejoindre le lieu du
                        festival depuis la gare.
                    </li>
                    <li class="m-5">
                        <strong>Covoiturage :</strong> Nous encourageons le covoiturage
                        pour une solution pratique et écologique. Des plateformes
                        de covoiturage comme BlaBlaCar facilitent la mise en relation
                        entre les participants.
                    </li>
                    <li class="m-5">
                        <strong>Parkings : </strong> Plusieurs parkings sont situés
                        près du festival pour les personnes venant en voiture. Des
                        places de stationnement seront également réservées pour les
                        personnes en situation de handicap.
                    </li>
                </ul>
            </div>
        </div>
    </main></Layout
>
