---
const film = Astro.props;
import { formatDate } from '../js/helper.js';
import ImagePB from "./ImagePB.astro";

/*Affichage d’une liste de collection*/
---

<div>
    <li class="font-bold">{film.Titre}</li>
<li>{ formatDate(film.projection)}</li>
    <ImagePB
    record={film}
    field="Affiche"
    alt={film.imgAlt}
    classPicture="flex justify-center"
    classImg="size-64 m-10 rounded-lg" 
/>

    <img class="size-64 m-10 rounded-lg" src={film.Affiche} alt="" />
    <a href={`/film/${film.id}`}  class="text-blue-500 hover:underline">Voir plus</a>
</div>

