---
const film = Astro.props;
import { formatDate } from "../js/helper.js";
import ImagePB from "./ImagePB.astro";
console.log(film);

/*Affichage d’une liste de collection*/
---

<div>
    <li class="font-bold">{film.Titre}</li>
    <li>{formatDate(film.projection)}</li>

    <!-- affichage de l’affiche du film -->
    <ImagePB
        record={film}
        field="Affiche"
        alt={film.imgAlt}
        classPicture="flex justify-center"
        classImg="w-50 m-10 rounded-lg"
    />

    <a href={`/film/${film.id}`} class="text-black underline">Voir plus</a>
</div>
