---
import { Picture } from "astro:assets";
import { pb } from "../../backend/backend.mjs";
const {
  record,
  field = "imgUrl",
  alt,
  classPicture,
  classImg,
  thumb = "1024x1024",
} = Astro.props;

const imageUrl = record?.[field]
  ? pb.files.getURL(record, record[field], { thumb })
  : null;
---

<!-- 
{
  imageUrl && (
    <img
      // pictureAttributes={{ class: classPicture }}
      // imgAttributes={{ class: classImg }}
      // class={classImg}
      // inferSize={true}
      // formats={["avif", "webp"]}
      // alt={alt || "Image"}
      // src={imageUrl}
    />
  )
} -->
<img src={imageUrl} alt={alt} class={classImg} />

<!-- {
  act && (
    <a href={`/activites/${act.id}`}>
      <img 
        src={act.img} 
        alt={act.Titre_A} 
        className="size-fit block m-auto overflow-hidden max-w-[250px] max-h-[300px]" 
      />
    </a>
  )
} -->
