---
import '../styles/global.css';
import '@fontsource/quicksand';
import '@fontsource/open-sans';

const { Titre, Affiche, Description,Annee_de_sortie, Liste_des_acteurs, Genre, Invites  } = Astro.props;

const baseUrl = "https://www.example.com";// mettre lien netlify 
const pageUrl = `${baseUrl}${Astro.url.pathname}`;
const siteName = "Miaullywood";

const title = Astro.url.pathname === "/" ? siteName : `${Astro.props.title} — ${siteName}`;
---


<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Encodage & viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO Meta -->
    <title>{Titre}</title>
    <meta name="description" content={Description}>
		<meta name="generator" content={Astro.generator}>
    <meta name="robots" content="index, follow">




	<!-- Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href={pageUrl} crossorigin>
<link rel="dns-prefetch" href={pageUrl}>


<!-- Favicon et icônes -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">



<body>
	<main>
	  <slot/>
	</main>
  </body>
</html>